# Patient Health Record and Analytics System Database

## Purpose

The **Patient Health Record and Analytics System** aims to store and manage comprehensive health data for patients. This includes their personal details, medical history, appointments, lab results, and other critical health-related information. The system also tracks health trends for better decision-making and analytics.

### Project Purpose

This database design helps in efficiently managing and tracking patient health records, medical history,lab results, doctor-patient relationships, and health trends. It ensures:

- Easy retrieval and management of patient health data.
- Storage of medical history and conditions.
- Tracking of doctor appointments.
- Storing lab results for patients.
- Health trend analysis based on aggregated patient data.

Load SQL magic extension and connects SQLite database file named patients_health.db in the current folder

In [32]:
%load_ext sql
%sql sqlite:///patients_health.db

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

Creating Table

In [4]:
%%sql
DROP TABLE IF EXISTS Patients;
DROP TABLE IF EXISTS Doctors;
DROP TABLE IF EXISTS Medical_History;
DROP TABLE IF EXISTS Appointments;
DROP TABLE IF EXISTS Lab_Results;
DROP TABLE IF EXISTS Analytics;

CREATE TABLE Patients (
    patient_id INT PRIMARY KEY,
    first_name VARCHAR(100),
    last_name VARCHAR(100),
    DOB DATE,
    gender VARCHAR(10),
    contact_number VARCHAR(15),
    email VARCHAR(100)
);

CREATE TABLE Doctors (
    doctor_id INT PRIMARY KEY,  
    first_name VARCHAR(100),
    last_name VARCHAR(100),
    specialty VARCHAR(100)
);


CREATE TABLE Medical_History (
    history_id INT PRIMARY KEY,  
    patient_id INT,                              
    disease_condition VARCHAR(255),
    surgery_procedure VARCHAR(255),
    diagnosis_date DATE,
    treatment VARCHAR(255),
    FOREIGN KEY (patient_id) REFERENCES Patients(patient_id) 
);

CREATE TABLE Appointments (
    patient_id INT,                                  
    doctor_id INT,                                  
    appointment_date DATE,
    appointment_time TIME,
    notes TEXT,
    FOREIGN KEY (patient_id) REFERENCES Patients(patient_id),  
    FOREIGN KEY (doctor_id) REFERENCES Doctors(doctor_id)     
);


CREATE TABLE Lab_Results (
    lab_result_id INT  PRIMARY KEY,  
    patient_id INT,                              
    test_name VARCHAR(255),
    test_date DATE,
    result VARCHAR(255),
    FOREIGN KEY (patient_id) REFERENCES Patients(patient_id) 
);


CREATE TABLE Analytics (
    analytics_id INT PRIMARY KEY,  
    disease_condition VARCHAR(255),
    patient_count INT,
    average_age INT,
    analysis_date DATE
);

 * sqlite:///patients_health.db
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

Inserting Value in each table

In [5]:

%%sql
INSERT INTO Patients (patient_id,first_name, last_name, DOB, gender, contact_number, email)
VALUES (1,'John', 'Rimal', '1980-05-15', 'Male', '947856214', 'john@gmail.com'),
        (2,'Ram', 'Shrestha', '1990-08-22', 'Male', '945612378', 'ram@gmail.com'),
        (3,'Sita', 'Khanal', '1985-12-05', 'Female', '948563214', 'sita@gmail.com'),
        (4,'Gita', 'Thapa', '1992-03-18', 'Female', '947123856', 'gita@gmail,com'),
        (5,'Maya', 'Sharma', '1988-11-30', 'Female', '946215378', 'maya@gmail.com'),
        (6,'Hari', 'Adhikari', '1975-07-09', 'male', '945678123', 'hari@gmail.com');


INSERT INTO Doctors (doctor_id, first_name, last_name, specialty)
VALUES (1,'Dr. Anil', 'Shrestha', 'Cardiology'),    
        (2,'Dr. Suman', 'Koirala', 'Neurology'),
        (3,'Dr. Rina', 'Gurung', 'Pediatrics'),
        (4,'Dr. Bikash', 'Thapa', 'Orthopedics'),
        (5,'Dr. Sunita', 'Rai', 'Dermatology');
        
        
INSERT INTO Medical_History (history_id,patient_id, disease_condition, surgery_procedure, diagnosis_date, treatment)
VALUES (101,1, 'Hypertension', 'None', '2020-01-15', 'Medication A'),
       (102,2, 'Diabetes', 'None', '2019-03-22', 'Medication B'),
       (103,3, 'Asthma', 'None', '2021-07-10', 'Inhaler C'),
       (104,4, 'Fracture', 'Bone Surgery', '2022-05-18', 'Physical Therapy'),
       (105,5, 'Eczema', 'None', '2020-11-30', 'Topical Cream D');
       
       
INSERT INTO Appointments (patient_id,doctor_id, appointment_date, appointment_time, notes)
VALUES (1, 1, '2023-09-15', '10:00:00', 'Routine check-up'),
       (2, 2, '2023-09-16', '11:30:00', 'Follow-up on diabetes management'),
       (3, 3, '2023-09-17', '09:00:00', 'Asthma symptoms evaluation'),
       (4, 4,'2023-09-18', '14:00:00', 'Post-surgery consultation'),
       (5,5 ,'2023-09-19', '13:15:00', 'Skin rash assessment');        
       

INSERT INTO Lab_Results (lab_result_id,patient_id, test_name, test_date, result)
VALUES (1001,1, 'Blood Pressure Test', '2023-09-15', '130    /85 mmHg'),
       (1002,2, 'Blood Sugar Test', '2023-09-16', '150 mg/dL'),
       (1003,3, 'Lung Function Test', '2023-09-17', 'Normal'),
       (1004,4, 'X-Ray', '2023-09-18', 'Healing well'),
       (1005,5, 'Skin Biopsy', '2023-09-19', 'Benign');      
       
INSERT INTO Analytics ( analytics_id ,disease_condition, patient_count, average_age, analysis_date)
VALUES (1,'Hypertension', 150, 55, '2023-09-01'),         
       (2,'Diabetes', 200, 50, '2023-09-01'),         
       (3,'Asthma', 100, 30, '2023-09-01'),         
       (4,'Fracture', 80, 40, '2023-09-01'),         
       (5,'Eczema', 120, 25, '2023-09-01');

 * sqlite:///patients_health.db
6 rows affected.
5 rows affected.
5 rows affected.
5 rows affected.
5 rows affected.
5 rows affected.

[]

In [6]:
%%sql
select * from Patients;

 * sqlite:///patients_health.db
Done.

[(1, 'John', 'Rimal', '1980-05-15', 'Male', '947856214', 'john@gmail.com'),
 (2, 'Ram', 'Shrestha', '1990-08-22', 'Male', '945612378', 'ram@gmail.com'),
 (3, 'Sita', 'Khanal', '1985-12-05', 'Female', '948563214', 'sita@gmail.com'),
 (4, 'Gita', 'Thapa', '1992-03-18', 'Female', '947123856', 'gita@gmail,com'),
 (5, 'Maya', 'Sharma', '1988-11-30', 'Female', '946215378', 'maya@gmail.com'),
 (6, 'Hari', 'Adhikari', '1975-07-09', 'male', '945678123', 'hari@gmail.com')]

In [7]:
%%sql
select * from Doctors;

 * sqlite:///patients_health.db
Done.

[(1, 'Dr. Anil', 'Shrestha', 'Cardiology'),
 (2, 'Dr. Suman', 'Koirala', 'Neurology'),
 (3, 'Dr. Rina', 'Gurung', 'Pediatrics'),
 (4, 'Dr. Bikash', 'Thapa', 'Orthopedics'),
 (5, 'Dr. Sunita', 'Rai', 'Dermatology')]

In [8]:
%%sql
select * from medical_history;

 * sqlite:///patients_health.db
Done.

[(101, 1, 'Hypertension', 'None', '2020-01-15', 'Medication A'),
 (102, 2, 'Diabetes', 'None', '2019-03-22', 'Medication B'),
 (103, 3, 'Asthma', 'None', '2021-07-10', 'Inhaler C'),
 (104, 4, 'Fracture', 'Bone Surgery', '2022-05-18', 'Physical Therapy'),
 (105, 5, 'Eczema', 'None', '2020-11-30', 'Topical Cream D')]

In [9]:
%%sql
select * from Appointments;

 * sqlite:///patients_health.db
Done.

[(1, 1, '2023-09-15', '10:00:00', 'Routine check-up'),
 (2, 2, '2023-09-16', '11:30:00', 'Follow-up on diabetes management'),
 (3, 3, '2023-09-17', '09:00:00', 'Asthma symptoms evaluation'),
 (4, 4, '2023-09-18', '14:00:00', 'Post-surgery consultation'),
 (5, 5, '2023-09-19', '13:15:00', 'Skin rash assessment')]

In [10]:
%%sql
select * from Lab_Results;

 * sqlite:///patients_health.db
Done.

[(1001, 1, 'Blood Pressure Test', '2023-09-15', '130    /85 mmHg'),
 (1002, 2, 'Blood Sugar Test', '2023-09-16', '150 mg/dL'),
 (1003, 3, 'Lung Function Test', '2023-09-17', 'Normal'),
 (1004, 4, 'X-Ray', '2023-09-18', 'Healing well'),
 (1005, 5, 'Skin Biopsy', '2023-09-19', 'Benign')]

In [11]:
%%sql
select * from Analytics;

 * sqlite:///patients_health.db
Done.

[(1, 'Hypertension', 150, 55, '2023-09-01'),
 (2, 'Diabetes', 200, 50, '2023-09-01'),
 (3, 'Asthma', 100, 30, '2023-09-01'),
 (4, 'Fracture', 80, 40, '2023-09-01'),
 (5, 'Eczema', 120, 25, '2023-09-01')]

In [12]:
%%sql
SELECT * FROM Patients WHERE patient_id = 5;

 * sqlite:///patients_health.db
Done.

[(5, 'Maya', 'Sharma', '1988-11-30', 'Female', '946215378', 'maya@gmail.com')]

In [13]:
%%sql
UPDATE Patients 
SET contact_number = '9876543210', email = 'new_email@example.com' 
WHERE patient_id = 5;

 * sqlite:///patients_health.db
1 rows affected.

[]

In [14]:
%%sql
select * from Patients;

 * sqlite:///patients_health.db
Done.

[(1, 'John', 'Rimal', '1980-05-15', 'Male', '947856214', 'john@gmail.com'),
 (2, 'Ram', 'Shrestha', '1990-08-22', 'Male', '945612378', 'ram@gmail.com'),
 (3, 'Sita', 'Khanal', '1985-12-05', 'Female', '948563214', 'sita@gmail.com'),
 (4, 'Gita', 'Thapa', '1992-03-18', 'Female', '947123856', 'gita@gmail,com'),
 (5, 'Maya', 'Sharma', '1988-11-30', 'Female', '9876543210', 'new_email@example.com'),
 (6, 'Hari', 'Adhikari', '1975-07-09', 'male', '945678123', 'hari@gmail.com')]

Deleting Hari from database

In [15]:
%%sql
delete from Patients where patient_id=6;

 * sqlite:///patients_health.db
1 rows affected.

[]

In [16]:
%%sql
select * from Patients;

 * sqlite:///patients_health.db
Done.

[(1, 'John', 'Rimal', '1980-05-15', 'Male', '947856214', 'john@gmail.com'),
 (2, 'Ram', 'Shrestha', '1990-08-22', 'Male', '945612378', 'ram@gmail.com'),
 (3, 'Sita', 'Khanal', '1985-12-05', 'Female', '948563214', 'sita@gmail.com'),
 (4, 'Gita', 'Thapa', '1992-03-18', 'Female', '947123856', 'gita@gmail,com'),
 (5, 'Maya', 'Sharma', '1988-11-30', 'Female', '9876543210', 'new_email@example.com')]

### Joins
 In SQL, JOINs are used to combine data from two or more tables based on a common column. Since data in a database is often split across different tables, JOINs help link that data together to get complete information

In this system, JOIN operation is use to retrieve data from multiple tables like Patients, Doctors, Appointments, Medical_History, and Lab_Results and combine them to present comprehensive information for the patient and healthcare providers.

In [17]:
%%sql
select first_name, last_name,appointment_date from Patients
join Appointments ON Patients.patient_id = Appointments.patient_id;

 * sqlite:///patients_health.db
Done.

[('John', 'Rimal', '2023-09-15'),
 ('Ram', 'Shrestha', '2023-09-16'),
 ('Sita', 'Khanal', '2023-09-17'),
 ('Gita', 'Thapa', '2023-09-18'),
 ('Maya', 'Sharma', '2023-09-19')]

In [18]:
%%sql
select first_name,last_name,disease_condition,treatment from patients
inner join medical_history on patients.patient_id=medical_history.patient_id;

 * sqlite:///patients_health.db
Done.

[('John', 'Rimal', 'Hypertension', 'Medication A'),
 ('Ram', 'Shrestha', 'Diabetes', 'Medication B'),
 ('Sita', 'Khanal', 'Asthma', 'Inhaler C'),
 ('Gita', 'Thapa', 'Fracture', 'Physical Therapy'),
 ('Maya', 'Sharma', 'Eczema', 'Topical Cream D')]

In [19]:
%%sql
SELECT Patients.first_name, Patients.last_name, Medical_History.disease_condition, 
Medical_History.surgery_procedure, Medical_History.diagnosis_date
FROM Patients
LEFT JOIN Medical_History ON Patients.patient_id = Medical_History.patient_id;

 * sqlite:///patients_health.db
Done.

[('John', 'Rimal', 'Hypertension', 'None', '2020-01-15'),
 ('Ram', 'Shrestha', 'Diabetes', 'None', '2019-03-22'),
 ('Sita', 'Khanal', 'Asthma', 'None', '2021-07-10'),
 ('Gita', 'Thapa', 'Fracture', 'Bone Surgery', '2022-05-18'),
 ('Maya', 'Sharma', 'Eczema', 'None', '2020-11-30')]

In [20]:
%%sql
SELECT Patients.first_name, Patients.last_name, Lab_Results.test_name, Lab_Results.result
FROM Patients
LEFT JOIN Lab_Results ON Patients.patient_id = Lab_Results.patient_id
UNION
SELECT Patients.first_name, Patients.last_name, Lab_Results.test_name, Lab_Results.result
FROM Patients
RIGHT JOIN Lab_Results ON Patients.patient_id = Lab_Results.patient_id;

 * sqlite:///patients_health.db
Done.

[('Gita', 'Thapa', 'X-Ray', 'Healing well'),
 ('John', 'Rimal', 'Blood Pressure Test', '130    /85 mmHg'),
 ('Maya', 'Sharma', 'Skin Biopsy', 'Benign'),
 ('Ram', 'Shrestha', 'Blood Sugar Test', '150 mg/dL'),
 ('Sita', 'Khanal', 'Lung Function Test', 'Normal')]

In [21]:
%%sql
SELECT first_name, last_name
FROM Patients
ORDER BY first_name DESC;

 * sqlite:///patients_health.db
Done.

[('Sita', 'Khanal'),
 ('Ram', 'Shrestha'),
 ('Maya', 'Sharma'),
 ('John', 'Rimal'),
 ('Gita', 'Thapa')]

In [22]:
%%sql
SELECT Patients.first_name as 'Patient First Name', 
Patients.last_name as 'Patient Last Name',
Medical_History.disease_condition as 'Condition'
from Patients
inner join Medical_History ON Patients.patient_id = Medical_History.patient_id;

 * sqlite:///patients_health.db
Done.

[('John', 'Rimal', 'Hypertension'),
 ('Ram', 'Shrestha', 'Diabetes'),
 ('Sita', 'Khanal', 'Asthma'),
 ('Gita', 'Thapa', 'Fracture'),
 ('Maya', 'Sharma', 'Eczema')]

In [23]:
%%sql
select Doctors.first_name, Doctors.last_name, Patients.first_name, Patients.last_name, Appointments.appointment_date
from Doctors
join Appointments on Doctors.doctor_id = Appointments.doctor_id
join Patients on Appointments.patient_id = Patients.patient_id;

 * sqlite:///patients_health.db
Done.

[('Dr. Anil', 'Shrestha', 'John', 'Rimal', '2023-09-15'),
 ('Dr. Suman', 'Koirala', 'Ram', 'Shrestha', '2023-09-16'),
 ('Dr. Rina', 'Gurung', 'Sita', 'Khanal', '2023-09-17'),
 ('Dr. Bikash', 'Thapa', 'Gita', 'Thapa', '2023-09-18'),
 ('Dr. Sunita', 'Rai', 'Maya', 'Sharma', '2023-09-19')]

In [42]:
%%sql
select  m.patient_id, m.disease_condition, l.test_name, l.result
from Medical_History m
full outer join Lab_Results l
    ON m.patient_id = l.patient_id;

 * sqlite:///patients_health.db
Done.

[(1, 'Hypertension', 'Blood Pressure Test', '130    /85 mmHg'),
 (2, 'Diabetes', 'Blood Sugar Test', '150 mg/dL'),
 (3, 'Asthma', 'Lung Function Test', 'Normal'),
 (4, 'Fracture', 'X-Ray', 'Healing well'),
 (5, 'Eczema', 'Skin Biopsy', 'Benign')]

In [ ]:
%%sql
select 
    p.patient_id,
    p.first_name,
    p.last_name,
    a.disease_condition,
    a.patient_count
from Patients p
full outer join  Analytics a
on p.patient_id = a.analytics_id;

### Group By
Group by  is an SQL clause used to group rows that have the same values in one or more columns so we can perform calculations on each group.

It is used together with aggregate functions like:

COUNT()

SUM()

AVG()

MAX()

MIN()

In [41]:
%%sql 
    select patient_id,
    count(*) AS appointment_count
from Appointments
group by patient_id;

 * sqlite:///patients_health.db
Done.

[(1, 1), (2, 1), (3, 1), (4, 1), (5, 1)]

In [24]:
%%sql
 select first_name ,last_name,contact_number,disease_condition,surgery_procedure from patients as p
     inner join medical_history as m
     on p.patient_id=m.patient_id;

 * sqlite:///patients_health.db
Done.

[('John', 'Rimal', '947856214', 'Hypertension', 'None'),
 ('Ram', 'Shrestha', '945612378', 'Diabetes', 'None'),
 ('Sita', 'Khanal', '948563214', 'Asthma', 'None'),
 ('Gita', 'Thapa', '947123856', 'Fracture', 'Bone Surgery'),
 ('Maya', 'Sharma', '9876543210', 'Eczema', 'None')]

In [36]:
%%sql
select
    appointment_date,
    count(*) as total_appointments
FROM Appointments
group by appointment_date
order BY appointment_date;

 * sqlite:///patients_health.db
Done.

[('2023-09-15', 1),
 ('2023-09-16', 1),
 ('2023-09-17', 1),
 ('2023-09-18', 1),
 ('2023-09-19', 1)]

In [25]:
%%sql
SELECT disease_condition, COUNT(*) AS patient_count
FROM Medical_History
GROUP BY disease_condition;

 * sqlite:///patients_health.db
Done.

[('Asthma', 1),
 ('Diabetes', 1),
 ('Eczema', 1),
 ('Fracture', 1),
 ('Hypertension', 1)]

In [38]:
%%sql
   select surgery_procedure,
    count(*) AS total_cases
from Medical_History
group by surgery_procedure
order by total_cases DESC;

 * sqlite:///patients_health.db
Done.

[('None', 4), ('Bone Surgery', 1)]

In [39]:
%%sql
    select appointment_date,
    count(*) AS daily_appointments
from Appointments
group by appointment_date
order by appointment_date;

 * sqlite:///patients_health.db
Done.

[('2023-09-15', 1),
 ('2023-09-16', 1),
 ('2023-09-17', 1),
 ('2023-09-18', 1),
 ('2023-09-19', 1)]

In [40]:
%%sql
    select test_name,
    count(*) AS total_performed
from Lab_Results
group by test_name
order by total_performed DESC;

 * sqlite:///patients_health.db
Done.

[('X-Ray', 1),
 ('Skin Biopsy', 1),
 ('Lung Function Test', 1),
 ('Blood Sugar Test', 1),
 ('Blood Pressure Test', 1)]

### Index in SQL

An index in SQL is like a shortcut that helps the database find data quickly. Instead of checking every row in a table, the index allows the database to jump directly to the relevant data, making queries faster.

Purpose: To speed up the process of searching for data in large tables.

How it works: Its created on a column (or multiple columns) of a table and helps the database find matching rows quickly.

In [26]:
%%sql
CREATE INDEX idx_patient_id ON Appointments(patient_id);
CREATE INDEX idx_patient_id_medical_history ON Medical_History(patient_id);

 * sqlite:///patients_health.db
Done.
Done.

[]

In [27]:
%%sql
select * from Appointments
where patient_id = 1 AND doctor_id = 1;

 * sqlite:///patients_health.db
Done.

[(1, 1, '2023-09-15', '10:00:00', 'Routine check-up')]

In [28]:
%%sql
select * FROM Medical_History
where patient_id = 2;

 * sqlite:///patients_health.db
Done.

[(102, 2, 'Diabetes', 'None', '2019-03-22', 'Medication B')]

In [29]:
%%sql
create index idx_patient_id_lab_results on Lab_Results(patient_id);

 * sqlite:///patients_health.db
Done.

[]

In [30]:
%%sql
select * from Lab_Results
where patient_id=3;

 * sqlite:///patients_health.db
Done.

[(1003, 3, 'Lung Function Test', '2023-09-17', 'Normal')]

Window Function

In [31]:
from sqlalchemy import create_engine, MetaData
from sqlalchemy.orm import sessionmaker
from sqlalchemy.exc import SQLAlchemyError
from sqlalchemy import TIMESTAMP  

# DB settings 
sqlite_url = "sqlite:///patients_health.db"
pg_url = "postgresql+psycopg2://postgres:sangita@localhost:5432/patients_health"

def migrate():
    sqlite_engine = create_engine(sqlite_url)
    pg_engine     = create_engine(pg_url)

    sqlite_meta = MetaData()
    sqlite_meta.reflect(bind=sqlite_engine)

    for table in sqlite_meta.tables.values():
        for col in table.columns:
            
            from sqlalchemy.types import DateTime
            if isinstance(col.type, DateTime):
                col.type = TIMESTAMP()

    # Create in Postgres
    sqlite_meta.create_all(bind=pg_engine)
    print(" PostgreSQL schema created with adjusted datetime types")

    # Copying data
    SQLiteSession = sessionmaker(bind=sqlite_engine)
    PGSession     = sessionmaker(bind=pg_engine)
    sqlite_sess   = SQLiteSession()
    pg_sess       = PGSession()

    try:
        for table in sqlite_meta.sorted_tables:
            rows = sqlite_sess.execute(table.select()).mappings().all()
            if rows:
                pg_sess.execute(table.insert(), rows)
                pg_sess.commit()
                print(f"-> Migrated {len(rows)} rows into {table.name}")
        print(" Migration completed!")
    except SQLAlchemyError as e:
        print(" Migration error:", e)
    finally:
        sqlite_sess.close()
        pg_sess.close()

if __name__=="__main__":
    migrate()

 PostgreSQL schema created with adjusted datetime types
-> Migrated 5 rows into Analytics
-> Migrated 5 rows into Doctors
-> Migrated 5 rows into Patients
-> Migrated 5 rows into Appointments
-> Migrated 5 rows into Lab_Results
-> Migrated 5 rows into Medical_History
 Migration completed!