# Patient Health Record and Analytics System Database

## Purpose

The **Patient Health Record and Analytics System** aims to store and manage comprehensive health data for patients. This includes their personal details, medical history, appointments, lab results, and other critical health-related information. The system also tracks health trends for better decision-making and analytics.

### Project Purpose

This database design helps in efficiently managing and tracking patient health records, medical history,lab results, doctor-patient relationships, and health trends. It ensures:

- Easy retrieval and management of patient health data.
- Storage of medical history and conditions.
- Tracking of doctor appointments.
- Storing lab results for patients.
- Health trend analysis based on aggregated patient data.

Load SQL magic extension and connects SQLite database file named patients_health.db in the current folder

In [29]:
%load_ext sql
%sql sqlite:///patients_health.db

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

Creating Table

In [30]:
%%sql
DROP TABLE IF EXISTS Patients;
DROP TABLE IF EXISTS Doctors;
DROP TABLE IF EXISTS Medical_History;
DROP TABLE IF EXISTS Appointments;
DROP TABLE IF EXISTS Lab_Results;
DROP TABLE IF EXISTS Analytics;

-- Create Patients table
CREATE TABLE Patients (
    patient_id INT,
    first_name VARCHAR(100),
    last_name VARCHAR(100),
    DOB DATE,
    gender VARCHAR(10),
    contact_number VARCHAR(15),
    email VARCHAR(100)
);

-- Create Doctors table
CREATE TABLE Doctors (
    doctor_id INT PRIMARY KEY,  
    first_name VARCHAR(100),
    last_name VARCHAR(100),
    specialty VARCHAR(100)
);

-- Create Medical_History table
CREATE TABLE Medical_History (
    history_id INT PRIMARY KEY,  
    patient_id INT,                              
    disease_condition VARCHAR(255),
    surgery_procedure VARCHAR(255),
    diagnosis_date DATE,
    treatment VARCHAR(255),
    FOREIGN KEY (patient_id) REFERENCES Patients(patient_id) 
);

-- Create Appointments table
CREATE TABLE Appointments (
    patient_id INT,                                  
    doctor_id INT,                                  
    appointment_date DATE,
    appointment_time TIME,
    notes TEXT,
    FOREIGN KEY (patient_id) REFERENCES Patients(patient_id),  
    FOREIGN KEY (doctor_id) REFERENCES Doctors(doctor_id)     
);

-- Create Lab_Results table
CREATE TABLE Lab_Results (
    lab_result_id INT  PRIMARY KEY,  
    patient_id INT,                              
    test_name VARCHAR(255),
    test_date DATE,
    result VARCHAR(255),
    FOREIGN KEY (patient_id) REFERENCES Patients(patient_id) 
);

-- Create Analytics table (no foreign key since it summarizes data)
CREATE TABLE Analytics (
    analytics_id INT PRIMARY KEY,  
    disease_condition VARCHAR(255),
    patient_count INT,
    average_age INT,
    analysis_date DATE
);

 * sqlite:///patients_health.db
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

Inserting Value in each table

In [31]:

%%sql
INSERT INTO Patients (patient_id,first_name, last_name, DOB, gender, contact_number, email)
VALUES (1,'John', 'Rimal', '1980-05-15', 'Male', '947856214', 'john@gmail.com'),
        (2,'Ram', 'Shrestha', '1990-08-22', 'Male', '945612378', 'ram@gmail.com'),
        (3,'Sita', 'Khanal', '1985-12-05', 'Female', '948563214', 'sita@gmail.com'),
        (4,'Gita', 'Thapa', '1992-03-18', 'Female', '947123856', 'gita@gmail,com'),
        (5,'Maya', 'Sharma', '1988-11-30', 'Female', '946215378', 'maya@gmail.com'),
        (6,'Hari', 'Adhikari', '1975-07-09', 'male', '945678123', 'hari@gmail.com');


INSERT INTO Doctors (doctor_id, first_name, last_name, specialty)
VALUES (1,'Dr. Anil', 'Shrestha', 'Cardiology'),    
        (2,'Dr. Suman', 'Koirala', 'Neurology'),
        (3,'Dr. Rina', 'Gurung', 'Pediatrics'),
        (4,'Dr. Bikash', 'Thapa', 'Orthopedics'),
        (5,'Dr. Sunita', 'Rai', 'Dermatology');
        
        
INSERT INTO Medical_History (history_id,patient_id, disease_condition, surgery_procedure, diagnosis_date, treatment)
VALUES (101,1, 'Hypertension', 'None', '2020-01-15', 'Medication A'),
       (102,2, 'Diabetes', 'None', '2019-03-22', 'Medication B'),
       (103,3, 'Asthma', 'None', '2021-07-10', 'Inhaler C'),
       (104,4, 'Fracture', 'Bone Surgery', '2022-05-18', 'Physical Therapy'),
       (105,5, 'Eczema', 'None', '2020-11-30', 'Topical Cream D');
       
       
INSERT INTO Appointments (patient_id,doctor_id, appointment_date, appointment_time, notes)
VALUES (1, 1, '2023-09-15', '10:00:00', 'Routine check-up'),
       (2, 2, '2023-09-16', '11:30:00', 'Follow-up on diabetes management'),
       (3, 3, '2023-09-17', '09:00:00', 'Asthma symptoms evaluation'),
       (4, 4,'2023-09-18', '14:00:00', 'Post-surgery consultation'),
       (5,5 ,'2023-09-19', '13:15:00', 'Skin rash assessment');        
       

INSERT INTO Lab_Results (lab_result_id,patient_id, test_name, test_date, result)
VALUES (1001,1, 'Blood Pressure Test', '2023-09-15', '130    /85 mmHg'),
       (1002,2, 'Blood Sugar Test', '2023-09-16', '150 mg/dL'),
       (1003,3, 'Lung Function Test', '2023-09-17', 'Normal'),
       (1004,4, 'X-Ray', '2023-09-18', 'Healing well'),
       (1005,5, 'Skin Biopsy', '2023-09-19', 'Benign');      
       
INSERT INTO Analytics ( analytics_id ,disease_condition, patient_count, average_age, analysis_date)
VALUES (1,'Hypertension', 150, 55, '2023-09-01'),         
       (2,'Diabetes', 200, 50, '2023-09-01'),         
       (3,'Asthma', 100, 30, '2023-09-01'),         
       (4,'Fracture', 80, 40, '2023-09-01'),         
       (5,'Eczema', 120, 25, '2023-09-01');

 * sqlite:///patients_health.db
6 rows affected.
5 rows affected.
5 rows affected.
5 rows affected.
5 rows affected.
5 rows affected.

[]

In [32]:
%%sql
select * from Patients;

 * sqlite:///patients_health.db
Done.

[(1, 'John', 'Rimal', '1980-05-15', 'Male', '947856214', 'john@gmail.com'),
 (2, 'Ram', 'Shrestha', '1990-08-22', 'Male', '945612378', 'ram@gmail.com'),
 (3, 'Sita', 'Khanal', '1985-12-05', 'Female', '948563214', 'sita@gmail.com'),
 (4, 'Gita', 'Thapa', '1992-03-18', 'Female', '947123856', 'gita@gmail,com'),
 (5, 'Maya', 'Sharma', '1988-11-30', 'Female', '946215378', 'maya@gmail.com'),
 (6, 'Hari', 'Adhikari', '1975-07-09', 'male', '945678123', 'hari@gmail.com')]

In [33]:
%%sql
select * from Doctors;

 * sqlite:///patients_health.db
Done.

[(1, 'Dr. Anil', 'Shrestha', 'Cardiology'),
 (2, 'Dr. Suman', 'Koirala', 'Neurology'),
 (3, 'Dr. Rina', 'Gurung', 'Pediatrics'),
 (4, 'Dr. Bikash', 'Thapa', 'Orthopedics'),
 (5, 'Dr. Sunita', 'Rai', 'Dermatology')]

In [34]:
%%sql
select * from medical_history;

 * sqlite:///patients_health.db
Done.

[(101, 1, 'Hypertension', 'None', '2020-01-15', 'Medication A'),
 (102, 2, 'Diabetes', 'None', '2019-03-22', 'Medication B'),
 (103, 3, 'Asthma', 'None', '2021-07-10', 'Inhaler C'),
 (104, 4, 'Fracture', 'Bone Surgery', '2022-05-18', 'Physical Therapy'),
 (105, 5, 'Eczema', 'None', '2020-11-30', 'Topical Cream D')]

In [35]:
%%sql
select * from Appointments;

 * sqlite:///patients_health.db
Done.

[(1, 1, '2023-09-15', '10:00:00', 'Routine check-up'),
 (2, 2, '2023-09-16', '11:30:00', 'Follow-up on diabetes management'),
 (3, 3, '2023-09-17', '09:00:00', 'Asthma symptoms evaluation'),
 (4, 4, '2023-09-18', '14:00:00', 'Post-surgery consultation'),
 (5, 5, '2023-09-19', '13:15:00', 'Skin rash assessment')]

In [36]:
%%sql
select * from Lab_Results;

 * sqlite:///patients_health.db
Done.

[(1001, 1, 'Blood Pressure Test', '2023-09-15', '130    /85 mmHg'),
 (1002, 2, 'Blood Sugar Test', '2023-09-16', '150 mg/dL'),
 (1003, 3, 'Lung Function Test', '2023-09-17', 'Normal'),
 (1004, 4, 'X-Ray', '2023-09-18', 'Healing well'),
 (1005, 5, 'Skin Biopsy', '2023-09-19', 'Benign')]

In [37]:
%%sql
select * from Analytics;

 * sqlite:///patients_health.db
Done.

[(1, 'Hypertension', 150, 55, '2023-09-01'),
 (2, 'Diabetes', 200, 50, '2023-09-01'),
 (3, 'Asthma', 100, 30, '2023-09-01'),
 (4, 'Fracture', 80, 40, '2023-09-01'),
 (5, 'Eczema', 120, 25, '2023-09-01')]

In [38]:
%%sql
SELECT * FROM Patients WHERE patient_id = 5;

 * sqlite:///patients_health.db
Done.

[(5, 'Maya', 'Sharma', '1988-11-30', 'Female', '946215378', 'maya@gmail.com')]

In [39]:
%%sql
UPDATE Patients 
SET contact_number = '9876543210', email = 'new_email@example.com' 
WHERE patient_id = 5;

 * sqlite:///patients_health.db
1 rows affected.

[]

In [40]:
%%sql
select * from Patients;

 * sqlite:///patients_health.db
Done.

[(1, 'John', 'Rimal', '1980-05-15', 'Male', '947856214', 'john@gmail.com'),
 (2, 'Ram', 'Shrestha', '1990-08-22', 'Male', '945612378', 'ram@gmail.com'),
 (3, 'Sita', 'Khanal', '1985-12-05', 'Female', '948563214', 'sita@gmail.com'),
 (4, 'Gita', 'Thapa', '1992-03-18', 'Female', '947123856', 'gita@gmail,com'),
 (5, 'Maya', 'Sharma', '1988-11-30', 'Female', '9876543210', 'new_email@example.com'),
 (6, 'Hari', 'Adhikari', '1975-07-09', 'male', '945678123', 'hari@gmail.com')]

Deleting Hari from database

In [41]:
%%sql
delete from Patients where patient_id=6;

 * sqlite:///patients_health.db
1 rows affected.

[]

In [42]:
%%sql
select * from Patients;

 * sqlite:///patients_health.db
Done.

[(1, 'John', 'Rimal', '1980-05-15', 'Male', '947856214', 'john@gmail.com'),
 (2, 'Ram', 'Shrestha', '1990-08-22', 'Male', '945612378', 'ram@gmail.com'),
 (3, 'Sita', 'Khanal', '1985-12-05', 'Female', '948563214', 'sita@gmail.com'),
 (4, 'Gita', 'Thapa', '1992-03-18', 'Female', '947123856', 'gita@gmail,com'),
 (5, 'Maya', 'Sharma', '1988-11-30', 'Female', '9876543210', 'new_email@example.com')]

### Joins
 In SQL, JOINs are used to combine data from two or more tables based on a common column. Since data in a database is often split across different tables, JOINs help link that data together to get complete information

In this system, JOIN operation is use to retrieve data from multiple tables like Patients, Doctors, Appointments, Medical_History, and Lab_Results and combine them to present comprehensive information for the patient and healthcare providers.

In [49]:
%%sql
select first_name, last_name,appointment_date from Patients
JOIN Appointments ON Patients.patient_id = Appointments.patient_id;

 * sqlite:///patients_health.db
Done.

[('John', 'Rimal', '2023-09-15'),
 ('Ram', 'Shrestha', '2023-09-16'),
 ('Sita', 'Khanal', '2023-09-17'),
 ('Gita', 'Thapa', '2023-09-18'),
 ('Maya', 'Sharma', '2023-09-19')]

In [53]:
%%sql
select first_name,last_name,disease_condition,treatment from patients
inner join medical_history on patients.patient_id=medical_history.patient_id;

 * sqlite:///patients_health.db
Done.

[('John', 'Rimal', 'Hypertension', 'Medication A'),
 ('Ram', 'Shrestha', 'Diabetes', 'Medication B'),
 ('Sita', 'Khanal', 'Asthma', 'Inhaler C'),
 ('Gita', 'Thapa', 'Fracture', 'Physical Therapy'),
 ('Maya', 'Sharma', 'Eczema', 'Topical Cream D')]

In [60]:
%%sql
select first_name,last_name from patients
WHERE patient_id IN (SELECT patient_id FROM Medical_History WHERE disease_condition='Diabetes');

 * sqlite:///patients_health.db
Done.

[('Ram', 'Shrestha')]