In [200]:
%load_ext sql
%sql sqlite:///patients_health.db

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [201]:
%%sql
DROP TABLE IF EXISTS Patients;
DROP TABLE IF EXISTS Doctors;
DROP TABLE IF EXISTS Medical_History;
DROP TABLE IF EXISTS Appointments;
DROP TABLE IF EXISTS Lab_Results;
DROP TABLE IF EXISTS Analytics;

-- Create Patients table
CREATE TABLE Patients (
    patient_id INT AUTO_INCREMENT PRIMARY KEY,  -- Auto-increment patient_id
    first_name VARCHAR(100),
    last_name VARCHAR(100),
    DOB DATE,
    gender VARCHAR(10),
    contact_number VARCHAR(15),
    email VARCHAR(100)
);

-- Create Doctors table
CREATE TABLE Doctors (
    doctor_id INT AUTO_INCREMENT PRIMARY KEY,   -- Auto-increment doctor_id
    first_name VARCHAR(100),
    last_name VARCHAR(100),
    specialty VARCHAR(100)
);

-- Create Medical_History table
CREATE TABLE Medical_History (
    history_id INT AUTO_INCREMENT PRIMARY KEY,  -- Auto-increment history_id
    patient_id INT,                              -- Foreign key linking to Patients
    disease_condition VARCHAR(255),
    surgery_procedure VARCHAR(255),
    diagnosis_date DATE,
    treatment VARCHAR(255),
    FOREIGN KEY (patient_id) REFERENCES Patients(patient_id)  -- Foreign Key constraint
);

-- Create Appointments table
CREATE TABLE Appointments (
    patient_id INT,                                  -- Foreign key linking to Patients
    doctor_id INT,                                   -- Foreign key linking to Doctors
    appointment_date DATE,
    appointment_time TIME,
    notes TEXT,
    FOREIGN KEY (patient_id) REFERENCES Patients(patient_id),  -- Foreign Key constraint
    FOREIGN KEY (doctor_id) REFERENCES Doctors(doctor_id)      -- Foreign Key constraint
);

-- Create Lab_Results table
CREATE TABLE Lab_Results (
    lab_result_id INT AUTO_INCREMENT PRIMARY KEY,  -- Auto-increment lab_result_id
    patient_id INT,                                -- Foreign key linking to Patients
    test_name VARCHAR(255),
    test_date DATE,
    result VARCHAR(255),
    FOREIGN KEY (patient_id) REFERENCES Patients(patient_id)  -- Foreign Key constraint
);

-- Create Analytics table (no foreign key since it summarizes data)
CREATE TABLE Analytics (
    analytics_id INT AUTO_INCREMENT PRIMARY KEY,  -- Auto-increment analytics_id
    disease_condition VARCHAR(255),
    patient_count INT,
    average_age INT,
    analysis_date DATE
);

 * sqlite:///patients_health.db
   sqlite:///students.db
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

In [202]:

%%sql
INSERT INTO Patients (patient_id,first_name, last_name, DOB, gender, contact_number, email)
VALUES (1,'John', 'Rimal', '1980-05-15', 'Male', '947856214', 'john@gmail.com'),
        (2,'Ram', 'Shrestha', '1990-08-22', 'Male', '945612378', 'ram@gmail.com'),
        (3,'Sita', 'Khanal', '1985-12-05', 'Female', '948563214', 'sita@gmail.com'),
        (4,'Gita', 'Thapa', '1992-03-18', 'Female', '947123856', 'gita@gmail,com'),
        (5,'Maya', 'Sharma', '1988-11-30', 'Female', '946215378', 'maya@gmail.com');


INSERT INTO Doctors (doctor_id, first_name, last_name, specialty)
VALUES (1,'Dr. Anil', 'Shrestha', 'Cardiology'),    
        (2,'Dr. Suman', 'Koirala', 'Neurology'),
        (3,'Dr. Rina', 'Gurung', 'Pediatrics'),
        (4,'Dr. Bikash', 'Thapa', 'Orthopedics'),
        (5,'Dr. Sunita', 'Rai', 'Dermatology');
        
        
INSERT INTO Medical_History (history_id,patient_id, disease_condition, surgery_procedure, diagnosis_date, treatment)
VALUES (101,1, 'Hypertension', 'None', '2020-01-15', 'Medication A'),
       (102,2, 'Diabetes', 'None', '2019-03-22', 'Medication B'),
       (103,3, 'Asthma', 'None', '2021-07-10', 'Inhaler C'),
       (104,4, 'Fracture', 'Bone Surgery', '2022-05-18', 'Physical Therapy'),
       (105,5, 'Eczema', 'None', '2020-11-30', 'Topical Cream D');
       
       
INSERT INTO Appointments (patient_id,doctor_id, appointment_date, appointment_time, notes)
VALUES (1, 1, '2023-09-15', '10:00:00', 'Routine check-up'),
       (2, 2, '2023-09-16', '11:30:00', 'Follow-up on diabetes management'),
       (3, 3, '2023-09-17', '09:00:00', 'Asthma symptoms evaluation'),
       (4, 4,'2023-09-18', '14:00:00', 'Post-surgery consultation'),
       (5,5 ,'2023-09-19', '13:15:00', 'Skin rash assessment');        
       

INSERT INTO Lab_Results (lab_result_id,patient_id, test_name, test_date, result)
VALUES (1001,1, 'Blood Pressure Test', '2023-09-15', '130    /85 mmHg'),
       (1002,2, 'Blood Sugar Test', '2023-09-16', '150 mg/dL'),
       (1003,3, 'Lung Function Test', '2023-09-17', 'Normal'),
       (1004,4, 'X-Ray', '2023-09-18', 'Healing well'),
       (1005,5, 'Skin Biopsy', '2023-09-19', 'Benign');      
       
INSERT INTO Analytics ( analytics_id ,disease_condition, patient_count, average_age, analysis_date)
VALUES (1,'Hypertension', 150, 55, '2023-09-01'),         
       (2,'Diabetes', 200, 50, '2023-09-01'),         
       (3,'Asthma', 100, 30, '2023-09-01'),         
       (4,'Fracture', 80, 40, '2023-09-01'),         
       (5,'Eczema', 120, 25, '2023-09-01');

 * sqlite:///patients_health.db
   sqlite:///students.db
5 rows affected.
5 rows affected.
5 rows affected.
5 rows affected.
5 rows affected.
5 rows affected.

[]

In [203]:
%%sql
select * from Patients;

 * sqlite:///patients_health.db
   sqlite:///students.db
Done.

[(1, 'John', 'Rimal', '1980-05-15', 'Male', '947856214', 'john@gmail.com'),
 (2, 'Ram', 'Shrestha', '1990-08-22', 'Male', '945612378', 'ram@gmail.com'),
 (3, 'Sita', 'Khanal', '1985-12-05', 'Female', '948563214', 'sita@gmail.com'),
 (4, 'Gita', 'Thapa', '1992-03-18', 'Female', '947123856', 'gita@gmail,com'),
 (5, 'Maya', 'Sharma', '1988-11-30', 'Female', '946215378', 'maya@gmail.com')]

In [204]:
%%sql
select * from Doctors;

 * sqlite:///patients_health.db
   sqlite:///students.db
Done.

[(1, 'Dr. Anil', 'Shrestha', 'Cardiology'),
 (2, 'Dr. Suman', 'Koirala', 'Neurology'),
 (3, 'Dr. Rina', 'Gurung', 'Pediatrics'),
 (4, 'Dr. Bikash', 'Thapa', 'Orthopedics'),
 (5, 'Dr. Sunita', 'Rai', 'Dermatology')]

In [205]:
%%sql
select * from medical_history;

 * sqlite:///patients_health.db
   sqlite:///students.db
Done.

[(101, 1, 'Hypertension', 'None', '2020-01-15', 'Medication A'),
 (102, 2, 'Diabetes', 'None', '2019-03-22', 'Medication B'),
 (103, 3, 'Asthma', 'None', '2021-07-10', 'Inhaler C'),
 (104, 4, 'Fracture', 'Bone Surgery', '2022-05-18', 'Physical Therapy'),
 (105, 5, 'Eczema', 'None', '2020-11-30', 'Topical Cream D')]

In [206]:
%%sql
select * from Appointments;

 * sqlite:///patients_health.db
   sqlite:///students.db
Done.

[(1, 1, '2023-09-15', '10:00:00', 'Routine check-up'),
 (2, 2, '2023-09-16', '11:30:00', 'Follow-up on diabetes management'),
 (3, 3, '2023-09-17', '09:00:00', 'Asthma symptoms evaluation'),
 (4, 4, '2023-09-18', '14:00:00', 'Post-surgery consultation'),
 (5, 5, '2023-09-19', '13:15:00', 'Skin rash assessment')]

In [207]:
%%sql
select * from Lab_Results;

 * sqlite:///patients_health.db
   sqlite:///students.db
Done.

[(1001, 1, 'Blood Pressure Test', '2023-09-15', '130    /85 mmHg'),
 (1002, 2, 'Blood Sugar Test', '2023-09-16', '150 mg/dL'),
 (1003, 3, 'Lung Function Test', '2023-09-17', 'Normal'),
 (1004, 4, 'X-Ray', '2023-09-18', 'Healing well'),
 (1005, 5, 'Skin Biopsy', '2023-09-19', 'Benign')]

In [208]:
%%sql
select * from Analytics;

 * sqlite:///patients_health.db
   sqlite:///students.db
Done.

[(1, 'Hypertension', 150, 55, '2023-09-01'),
 (2, 'Diabetes', 200, 50, '2023-09-01'),
 (3, 'Asthma', 100, 30, '2023-09-01'),
 (4, 'Fracture', 80, 40, '2023-09-01'),
 (5, 'Eczema', 120, 25, '2023-09-01')]